/** GLOBAL STYLES**/
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.arimo-font {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}
body {
    font-family: 'Arimo', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', sans-serif;
}

.container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & form {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & input {
            margin: 7px;
            padding: 5px;
            width: 150%;
            border-radius: 8px;
            border: 1px solid gray;
        }
    }
}
#btn {
    width: 90%;
    color: white;
    font-weight: 600;
    background-color: #0073e6;
    border: none;
}


/** INDEX STYLES **/
.index-h1 {
    text-align: center;
}
.index-btn-style {
    width: 150px;
    padding: 5px;
    margin: 7px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #0073e6;
    text-align: center;
    border: none;
    border-radius: 8px;
}
/** LOGIN STYLES **/

/** SIGNUP STYLES **/

/** TODOS STYLES **/
.todo-widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & form {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & input {
            margin: 5px;
            padding: 5px;
            width: 60%;
            border-radius: 8px;
            border: 1px solid gray;
        }
    }
}
#todo-btn {
    width: 40%;
    color: white;
    font-weight: 600;
    background-color: #0073e6;
    border: none;
}

.fabric-table {
    margin-top: 50px;
    width: 75dvw;
    border-collapse: collapse;
}
.fabric-table th, .fabric-table td {
    width: 25%; /* Adjust this value based on the number of columns you have */
    text-align: left; /* Align text to the left */
    padding: 5px;
}
.fabric-table thead th {
    background-color: #0073e6;
    color: white;
}
.fabric-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.fabric-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.fabric-table .del::after {
    content: "\f2ed";
    font-family: "FontAwesome";
    color: red;
    cursor: pointer;
}
.footer {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}